<?xml version="1.0"?>
<launch>
  <!-- Node 0 -->
  <node pkg="turtlesim" type="turtlesim_node" name="turtlesim_node" output="screen"/>

  <!-- Node 1 -->
  <node pkg="day_29" type="init_node.py" name="init_node" output="screen"/>

  <!-- Node 2 -->
  <node pkg="day_29" type="ball_node.py" name="ball_node" output="screen"/>

  <!-- Node 3 -->
  <node pkg="day_29" type="teleop_node" name="teleop_key_node" output="screen"/>

</launch>
